body{
    margin: 0;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f4f9;
    color: #333;
}

.venue-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.venue-card {  
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(131, 3, 118, 0.5);
    transition: trasform 0.2s ease, box-shadow 0.2s ease;
    opacity: 1;
}

.venue-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(131, 3, 118, 1);
}

.venue-card h2{
    margin: 0;
    margin-left: 20%;
    font-size: 2rem;
    color: #6a1b9a;
    font-weight: 600;
}

.venue-card p{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.capacity{
    color: #8c5814;
    font-weight: 600;
    font-size: 1.5rem;
}

.booked{
    color: red;
}

.available{
    color: green;
}

.endTime{
    display: none;
    justify-self: center;
}

.venue-card:hover .endTime{
    display: inline;
    color: #711031;
    background: #e4e4eb;
    padding: 4px 4px;
    border-radius: 6px;
}

.venue-card:hover .notAvailable{
    display: none;
}

.notAvailable{
    display: inline;
    color: #711031;
    background: #e4e4eb;
    padding: 4px 4px;
    border-radius: 6px;
}

.book-btn{
    display: inline-block;
    background: #6a1b9a;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    /* transition: background 0.3s ease; */
}

.book-btn:hover{
    background: #4a148c;
}